DATABASE_URL=postgres://username:password@localhost:5432/dbname?sslmode=disable&timezone=Asia/Jakarta
JWT_SECRET=super-secret-key-change-in-production
PORT=1234
UPLOAD_DIR=./uploads
APP_ENV=development/production
ALLOW_ORIGINS=https://example.com,https://example2.com

# For Meta Tag
SITE_URL=