DATABASE_URL=postgres://username:password@localhost:5432/dbname?sslmode=disable&timezone=Asia/Jakarta
JWT_SECRET=super-secret-key-change-in-production
PORT=1234
UPLOAD_DIR=./uploads
APP_ENV=development/production
ALLOW_ORIGINS=https://example.com,https://example2.com

# For Meta Tag
SITE_URL=
OG_PAGES_CONFIG=./og-pages-crawler.json

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME=
SMTP_FROM_EMAIL=
SMTP_ADMIN_EMAIL=
SMTP_SECURE=

# Turnstile
TURNSTILE_SECRET_KEY=