# Environment
.env
!.env.example

# Go
*.exe
*.test

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# OpenCode
.opencode/

# Uploads
uploads/post/*
uploads/post-cover/*
uploads/post-profile/*

# Server
server
